.hello{
    color:green;
}
#nbar{
    background-color:black;
    color:black;
}
.login, #site{
    text-decoration: none;
    color:white;
}

.login:hover, #site:hover{
    text-decoration: none;
    color:white;
}
.brand{
    font-weight: bolder;
}
.account-img {
    height: 125px;
    width: 125px;
}
.nav-img{
    height: 30px;
    width: 30px;
}
body{
    background-color:white;
}
#heart{
    float:right;
    border: 1px solid black;
    border-radius: 50%;
    padding: 6px;
}

#heart:hover{
    color:blue;
    border: 1px solid blue;
}
#usern{
    color: #00bdaa;
}
.form-text, .asteriskField{
    display:none;
}

.alert{
    margin:0;
    padding:0;
}
.alert ul li {
    list-style-type: none;
    padding:0;
    margin:0;
    font-size:12px;
}
.overlay{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#design{
    color:white;
    border: 3px solid orange;
    border-radius: 50%;
    padding: 20px;
    margin-right:20px;
    margin-left:70px;
}
#usable{
    color:white;
    border: 3px solid blue;
    border-radius: 50%;
    padding: 20px;
    margin-right:20px;
}
#content{
    color:white;
    border: 3px solid green;
    border-radius: 50%;
    padding: 20px;
    margin-right:20px;
}
.rates{
    font-size:16px;
    font-weight:bolder;
}
.display{
    display: flex;
    flex-wrap: wrap;
}