{% extends 'base.html' %}
{% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

{% block content %}
<div class="container-fluid" style="margin-top:7%;">

    <div class="bg" style="background-image: url({{ random_post.photo.cdn_url }})">
        <div class="over container-fluid" style="margin:0px; padding:0px;">
            <div class=" ">
                <div class="row">
                    <div class="col-md-3" style="padding-top:4%;">
                        <p class="text-white" style="margin-left:20%"><strong>Site of the Day</strong>
                            {{random_post.date|date}}</p>
                        <div class="visit" style="margin-left:20%; padding-top:90%">
                            <a class="btn btn-sm btn-info" href="{{random_post.url}}">visit</a><a
                                class="btn btn-sm btn-white" href="">collect</a>
                        </div>

                    </div>
                    <div class="col-md-6 " style="padding-top:6%; margin:0px; padding-bottom:14%;">
                        <h2 class="text-white" style="margin-left:70px">{{random_post.title}}</h2>
                        <h4 class="text-white" style="margin-left:70px">By {{random_post.user.username}}</h4>
                        <div class="d-flex flex-row mx-auto">
                            {% for rating in random_post.ratings.all %}
                            {% if forloop.counter is random_post.ratings.all.count %}
                            <h6 id="des" class="text-center mt-4">{{ rating.design_average}}<br>
                                <span class="ting text-center">design</span>
                            </h6>
                            <h6 id="use" class="text-center mt-4">{{ rating.usability_average }}<br>
                                <span class="ting text-center">usability</span>
                            </h6>
                            <h6 id="conten" class="text-center mt-4">{{ rating.content_average }}<br>
                                <span class="ting text-center">content</span></h6>
                            <h6 id="score" class="text-center mt-4">{{ rating.score }}<br>
                                <span class="ting text-center">score</span></h6>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="mt-4">Websites available</h2>
        <button class="btn btn-info btn-sm" id="site" data-toggle="modal" data-target=".bd-example-modal-xl"> Submit
            your
            site
        </button>
        <div class="modal fade bd-example-modal-xl" id="ModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" class="btn btn-sm btn-info" value="Save"/>
                            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% if posts %}

            <div class="templates display">
                {% for post in posts %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="view overlay">
                            <img class="card-img-top" src="{{ post.photo.cdn_url }}"
                                 alt="{{photo.title}}">
                            <a href="{% url 'project' post.title %}">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title"><a href="{% url 'project' post.title %}">{{post.title|title}}</a> <a
                                    class="btn btn-sm btn-outline-info" href="{{ post.url }}" style=""> View</a></h6>
                            <hr>
                            <p class="card-text "><img src="{{post.user.profile.profile_picture.url}}"
                                                       class="nav-img mr-2"
                                                       alt="">
                                By {{post.user.username|title}} <span style="float:right">{{post.date|date}}</span>


                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            {% endif %}
        </div>
    </div>
</div>

{% endblock %}